<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
			{{ form(form) }}
			<p>
			<label>Answer 1</label><br />
			<textarea disabled>{{answer1}}</textarea><br />
			<label>Answer 2</label><br />
			<textarea disabled>{{answer2}}</textarea>
			</p>
		{% endblock %}
    </body>
</html>
